<%- include('partials/_header') %>



  <main style="margin-top: 6em" id="main-con">
    <div class="container">
      <div class="box-nav d-flex justify-between">
        <div class="filter">
          <a href="/"><i class="fas fa-angle-double-left"></i> Current Inventory</a>
        </div>
      </div>
      <div class="form-title text-center">
        <h2 class="text-dark">New Item</h2>
        <span class="text-dark">Fill out the form to add a new item to the inventory!</span>
      </div>

      <%- include('partials/_form') %>

        <br><br>
    </div>
  </main>


  <%- include('partials/_footer') %>